<html>
    <head>
        <title>Car Added!</title>
    </head>
    <body>
        <h1>Your car has been successfully added!</h1>
        <form action='/'>
            <button type='submit' class='btn'>Go back and search for cars</button>
        </form>
    </body>
</html>
